.details-container{
    border: 2px solid black;
    margin: 5rem;
    .line-break{
        height: 3rem;
        border-left: 1px solid black;
    }
    .founder-container{
        border: 2px solid black;
        width: 100%;
    }

}